In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
earning_df = pd.read_csv("./data/google_earnings.csv")
print(earning_df.head())

  Symbol        Company          Earnings Date  EPS Estimate  Reported EPS  \
0  GOOGL   Alphabet Inc  Oct 27, 2025, 4 PMEDT           NaN           NaN
1  GOOGL   Alphabet Inc  Jul 21, 2025, 4 PMEDT           NaN           NaN
2  GOOGL   Alphabet Inc  Apr 23, 2025, 4 PMEDT           NaN           NaN
3  GOOGL   Alphabet Inc  Jan 28, 2025, 4 PMEST          2.12           NaN
4  GOOGL  Alphabet Inc.  Oct 29, 2024, 4 PMEDT          1.85          2.12

   Surprise(%)
0          NaN
1          NaN
2          NaN
3          NaN
4        14.91

In [3]:
earning_array = earning_df.values
earning_df[:2]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN

In [4]:
earning_df_from_array = pd.DataFrame(data=earning_df, columns=earning_df.columns.values)
earning_df_from_array.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91

In [5]:
earning_cols = earning_df[["Earnings Date","EPS Estimate"]]
earning_cols.head()

           Earnings Date  EPS Estimate
0  Oct 27, 2025, 4 PMEDT           NaN
1  Jul 21, 2025, 4 PMEDT           NaN
2  Apr 23, 2025, 4 PMEDT           NaN
3  Jan 28, 2025, 4 PMEST          2.12
4  Oct 29, 2024, 4 PMEDT          1.85

In [6]:
earning_df["EPS Estimate"]

0      NaN
1      NaN
2      NaN
3     2.12
4     1.85
      ...
80    0.03
81    0.03
82    0.02
83    0.02
84    0.01
Name: EPS Estimate, Length: 85, dtype: float64

In [7]:
type(earning_df["EPS Estimate"]), type(earning_df[["Earnings Date", "EPS Estimate"]])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [8]:
earning_rows = earning_df[1:3]
earning_rows

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [9]:
earning_df_new_index = pd.DataFrame(data = earning_array, columns=earning_df.columns.values,
                                    index = range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [10]:
earning_df_new_index = pd.DataFrame(data=earning_array, 
                                    columns=earning_df.columns.values,
                                    index=range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [11]:
earning_df_new_index[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [12]:
earning_df_new_index.loc[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [13]:
earning_df_new_index.iloc[1:4,[2,3]]

           Earnings Date EPS Estimate
2  Jul 21, 2025, 4 PMEDT          NaN
3  Apr 23, 2025, 4 PMEDT          NaN
4  Jan 28, 2025, 4 PMEST         2.12

In [14]:
earning_df_new_index.iloc[1:3,:]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [15]:
earning_df[earning_df["EPS Estimate"] >= 1]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
10,GOOGL,Alphabet Inc.,"Apr 25, 2023, 4 PMEDT",1.07,1.17,9.72
11,GOOGL,Alphabet Inc.,"Feb 02, 2023, 4 PMEST",1.18,1.05,-10.73
12,GOOGL,Alphabet Inc.,"Oct 25, 2022, 4 PMEDT",1.25,1.06,-15.14
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [16]:
earning_df[(earning_df["EPS Estimate"] >= 1) & (earning_df["Reported EPS"] > 1.2)]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [17]:
index = np.where((earning_df["EPS Estimate"] > 1.0) & (earning_df["Reported EPS"] > 1.2))
index # index 번호 추출

(array([ 4,  5,  6,  7,  8,  9, 13, 14, 15, 16], dtype=int64),)

In [18]:
#loc 명시적 인덱스 기준으로 추출
#iloc는 데이터 순서 기준으로 추출 행,렬에 해당하는 데이터 모두 써야함 [0,1,2....] 
earning_df.loc[index]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [19]:
len(earning_df.sample(n=5))

5

In [20]:
#frac : 해당하는 값의 비율만큼 샘플들 뽑음
len(earning_df.sample(frac=0.5)), len(earning_df)

(42, 85)

In [ ]:
# fillna : NaN값 딕션너리로 넣어서 채우기
earning_df_filla = earning_df.fillna({
    "EPS Estimate" : 1.85,
    "Reported EPS" : 12.25
})
earning_df_filla.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",1.85,12.25,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",1.85,12.25,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",1.85,12.25,NaN
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,12.25,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91

Signature:
earning_df.fillna(
    value: 'Hashable | Mapping | Series | DataFrame | None' = None,
    *,
    method: 'FillnaOptions | None' = None,
    axis: 'Axis | None' = None,
    inplace: 'bool_t' = False,
    limit: 'int | None' = None,
    downcast: 'dict | None | lib.NoDefault' = <no_default>,
) -> 'Self | None'
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series:

    * ffill: propagate last valid observation forward to next valid.
    * backfill / bfill: use next valid observation to fill gap.

    .. deprecated:: 2.1.0
        Use ffill or bfill instead.

axis : {0 or 'index'} for Series, {0 or 'index', 1 or 'columns'} for DataFrame
    Axis along which to fill missing values. For `Series`
    this parameter is unused and defaults to 0.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

    .. deprecated:: 2.2.0

Returns
-------
Series/DataFrame or None
    Object with missing values filled or None if ``inplace=True``.

See Also
--------
ffill : Fill values by propagating the last valid observation to next valid.
bfill : Fill values by using the next valid observation to fill the gap.
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, np.nan],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list("ABCD"))
>>> df
     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

Replace all NaN elements with 0s.

>>> df.fillna(0)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {"A": 0, "B": 1, "C": 2, "D": 3}
>>> df.fillna(value=values)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  NaN  1.0
2  NaN  1.0  NaN  3.0
3  NaN  3.0  NaN  4.0

When filling using a DataFrame, replacement happens along
the same column names and same indices

>>> df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
>>> df.fillna(df2)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  NaN
3  0.0  3.0  0.0  4.0

Note that column D is not affected since it is not present in df2.
File:      c:\users\riskzero\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

In [ ]:
df[[]]