In [15]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [16]:
earning_df = pd.read_csv("./data/google_earnings.csv")
print(earning_df.head())

  Symbol        Company          Earnings Date  EPS Estimate  Reported EPS  \
0  GOOGL   Alphabet Inc  Oct 27, 2025, 4 PMEDT           NaN           NaN
1  GOOGL   Alphabet Inc  Jul 21, 2025, 4 PMEDT           NaN           NaN
2  GOOGL   Alphabet Inc  Apr 23, 2025, 4 PMEDT           NaN           NaN
3  GOOGL   Alphabet Inc  Jan 28, 2025, 4 PMEST          2.12           NaN
4  GOOGL  Alphabet Inc.  Oct 29, 2024, 4 PMEDT          1.85          2.12

   Surprise(%)
0          NaN
1          NaN
2          NaN
3          NaN
4        14.91

In [17]:
earning_array = earning_df.values
earning_df[:2]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN

In [18]:
earning_df_from_array = pd.DataFrame(data=earning_df, columns=earning_df.columns.values)
earning_df_from_array.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91

In [19]:
earning_cols = earning_df[["Earnings Date","EPS Estimate"]]
earning_cols.head()

           Earnings Date  EPS Estimate
0  Oct 27, 2025, 4 PMEDT           NaN
1  Jul 21, 2025, 4 PMEDT           NaN
2  Apr 23, 2025, 4 PMEDT           NaN
3  Jan 28, 2025, 4 PMEST          2.12
4  Oct 29, 2024, 4 PMEDT          1.85

In [20]:
earning_df["EPS Estimate"]

0      NaN
1      NaN
2      NaN
3     2.12
4     1.85
      ...
80    0.03
81    0.03
82    0.02
83    0.02
84    0.01
Name: EPS Estimate, Length: 85, dtype: float64

In [21]:
type(earning_df["EPS Estimate"]), type(earning_df[["Earnings Date", "EPS Estimate"]])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [22]:
earning_rows = earning_df[1:3]
earning_rows

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [23]:
earning_df_new_index = pd.DataFrame(data = earning_array, columns=earning_df.columns.values,
                                    index = range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [25]:
earning_df_new_index = pd.DataFrame(data=earning_array, 
                                    columns=earning_df.columns.values,
                                    index=range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [ ]:
earning_df_new_index[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [29]:
earning_df_new_index.loc[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [31]:
earning_df_new_index.iloc[1:4,[2,3]]

           Earnings Date EPS Estimate
2  Jul 21, 2025, 4 PMEDT          NaN
3  Apr 23, 2025, 4 PMEDT          NaN
4  Jan 28, 2025, 4 PMEST         2.12

In [35]:
earning_df_new_index.iloc[1:3,:]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [40]:
earning_df[earning_df["EPS Estimate"] >= 1]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
10,GOOGL,Alphabet Inc.,"Apr 25, 2023, 4 PMEDT",1.07,1.17,9.72
11,GOOGL,Alphabet Inc.,"Feb 02, 2023, 4 PMEST",1.18,1.05,-10.73
12,GOOGL,Alphabet Inc.,"Oct 25, 2022, 4 PMEDT",1.25,1.06,-15.14
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [44]:
earning_df[(earning_df["EPS Estimate"] >= 1) & (earning_df["Reported EPS"] > 1.2)]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [ ]:
index = np.where((earning_df["EPS Estimate"] > 1.0) & (earning_df["Reported EPS"] > 1.2))
index # index 번호 추출

(array([ 4,  5,  6,  7,  8,  9, 13, 14, 15, 16], dtype=int64),)

In [ ]:
#loc 명시적 인덱스 기준으로 추출
#iloc는 데이터 순서 기준으로 추출 행,렬에 해당하는 데이터 모두 써야함 [0,1,2....] 
earning_df.loc[index]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [57]:
len(earning_df.sample(n=5))

5

In [ ]:
#frac : 해당하는 값의 비율만큼 샘플들 뽑음
len(earning_df.sample(frac=0.5)), len(earning_df)

(42, 85)