In [121]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [122]:
earning_df = pd.read_csv("./data/google_earnings.csv")
print(earning_df.head())

  Symbol        Company          Earnings Date  EPS Estimate  Reported EPS  \
0  GOOGL   Alphabet Inc  Oct 27, 2025, 4 PMEDT           NaN           NaN
1  GOOGL   Alphabet Inc  Jul 21, 2025, 4 PMEDT           NaN           NaN
2  GOOGL   Alphabet Inc  Apr 23, 2025, 4 PMEDT           NaN           NaN
3  GOOGL   Alphabet Inc  Jan 28, 2025, 4 PMEST          2.12           NaN
4  GOOGL  Alphabet Inc.  Oct 29, 2024, 4 PMEDT          1.85          2.12

   Surprise(%)
0          NaN
1          NaN
2          NaN
3          NaN
4        14.91

In [123]:
earning_array = earning_df.values
earning_df[:2]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN

In [124]:
earning_df_from_array = pd.DataFrame(data=earning_df, columns=earning_df.columns.values)
earning_df_from_array.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91

In [125]:
earning_cols = earning_df[["Earnings Date","EPS Estimate"]]
earning_cols.head()

           Earnings Date  EPS Estimate
0  Oct 27, 2025, 4 PMEDT           NaN
1  Jul 21, 2025, 4 PMEDT           NaN
2  Apr 23, 2025, 4 PMEDT           NaN
3  Jan 28, 2025, 4 PMEST          2.12
4  Oct 29, 2024, 4 PMEDT          1.85

In [126]:
earning_df["EPS Estimate"]

0      NaN
1      NaN
2      NaN
3     2.12
4     1.85
      ...
80    0.03
81    0.03
82    0.02
83    0.02
84    0.01
Name: EPS Estimate, Length: 85, dtype: float64

In [127]:
type(earning_df["EPS Estimate"]), type(earning_df[["Earnings Date", "EPS Estimate"]])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [128]:
earning_rows = earning_df[1:3]
earning_rows

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [129]:
earning_df_new_index = pd.DataFrame(data = earning_array, columns=earning_df.columns.values,
                                    index = range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [130]:
earning_df_new_index = pd.DataFrame(data=earning_array, 
                                    columns=earning_df.columns.values,
                                    index=range(1, len(earning_df)+1))
earning_df_new_index

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN
4,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
5,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
...,...,...,...,...,...,...
81,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
82,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
83,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
84,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
85,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [131]:
earning_df_new_index[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [132]:
earning_df_new_index.loc[1:3]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
1,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",NaN,NaN,NaN
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [133]:
earning_df_new_index.iloc[1:4,[2,3]]

           Earnings Date EPS Estimate
2  Jul 21, 2025, 4 PMEDT          NaN
3  Apr 23, 2025, 4 PMEDT          NaN
4  Jan 28, 2025, 4 PMEST         2.12

In [134]:
earning_df_new_index.iloc[1:3,:]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
2,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",NaN,NaN,NaN
3,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",NaN,NaN,NaN

In [135]:
earning_df[earning_df["EPS Estimate"] >= 1]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,NaN,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
10,GOOGL,Alphabet Inc.,"Apr 25, 2023, 4 PMEDT",1.07,1.17,9.72
11,GOOGL,Alphabet Inc.,"Feb 02, 2023, 4 PMEST",1.18,1.05,-10.73
12,GOOGL,Alphabet Inc.,"Oct 25, 2022, 4 PMEDT",1.25,1.06,-15.14
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [136]:
earning_df[(earning_df["EPS Estimate"] >= 1) & (earning_df["Reported EPS"] > 1.2)]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [137]:
index = np.where((earning_df["EPS Estimate"] > 1.0) & (earning_df["Reported EPS"] > 1.2))
index # index 번호 추출

(array([ 4,  5,  6,  7,  8,  9, 13, 14, 15, 16], dtype=int64),)

In [138]:
#loc 명시적 인덱스 기준으로 추출
#iloc는 데이터 순서 기준으로 추출 행,렬에 해당하는 데이터 모두 써야함 [0,1,2....] 
earning_df.loc[index]

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
5,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
6,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
7,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
8,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
9,GOOGL,Alphabet Inc.,"Jul 25, 2023, 4 PMEDT",1.34,1.44,7.54
13,GOOGL,Alphabet Inc.,"Jul 26, 2022, 4 PMEDT",1.28,1.21,-5.41
14,GOOGL,Alphabet Inc.,"Apr 26, 2022, 4 PMEDT",1.30,1.23,-5.00
15,GOOGL,Alphabet Inc.,"Feb 01, 2022, 4 PMEST",1.37,1.53,12.24
16,GOOGL,Alphabet Inc.,"Oct 26, 2021, 4 PMEDT",1.17,1.40,19.21

In [139]:
len(earning_df.sample(n=5))

5

In [140]:
#frac : 해당하는 값의 비율만큼 샘플들 뽑음
len(earning_df.sample(frac=0.5)), len(earning_df)

(42, 85)

In [141]:
# fillna : NaN값 딕션너리로 넣어서 채우기
earning_df_filla = earning_df.fillna({
    "EPS Estimate" : 1.85,
    "Reported EPS" : 12.25
})
earning_df_filla.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc,"Oct 27, 2025, 4 PMEDT",1.85,12.25,NaN
1,GOOGL,Alphabet Inc,"Jul 21, 2025, 4 PMEDT",1.85,12.25,NaN
2,GOOGL,Alphabet Inc,"Apr 23, 2025, 4 PMEDT",1.85,12.25,NaN
3,GOOGL,Alphabet Inc,"Jan 28, 2025, 4 PMEST",2.12,12.25,NaN
4,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91

In [142]:
#빈데이터 삭제
earning_sample = earning_df.dropna()
len(earning_sample), len(earning_df)

(81, 85)

In [143]:
#인덱스 새로 매기기 
#drop=true는 기존 인덱스 삭제
earning_sample = earning_sample.reset_index(drop=True)
earning_sample

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
1,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
2,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
3,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
4,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
...,...,...,...,...,...,...
76,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
77,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
78,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
79,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
80,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [144]:
#중복데이터 제거
earning_dup = pd.concat([earning_sample[:1],
                        earning_sample]).reset_index(drop=True)
earning_dup.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
1,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
2,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
3,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
4,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98

In [145]:
#inplace : 어떤 함수를 호출하게 되면 함수가 적용된 새로운 데이터 프레임을 리턴 하여 새로운 데이터프레임에 저장
#drop_duplicates : 중복함수 제거함수. subset: 어떤 열이 중복되는 것을 기준으로 할것인지 
#keep=first : 중복되는 행이나 열중에 가장 먼저 나타나는 행/열 보존 
#inplace=True : 기존의 데이터 프레임에 변경된 설정을 덮어쓰겠다라는 의미
earning_dup.drop_duplicates(subset=["Earnings Date"], keep="first")

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91
2,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47
3,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77
4,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98
5,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84
...,...,...,...,...,...,...
77,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09
78,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25
79,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77
80,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48
81,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38

In [146]:
earning_sample.dtypes

Symbol            object
Company           object
Earnings Date     object
EPS Estimate     float64
Reported EPS     float64
Surprise(%)      float64
dtype: object

In [147]:
#copy관련 option을 무시하기 위함
pd.options.mode.chained_assignment = None

In [148]:
# 시간대 정보를 제거하고 포맷 변경
earning_sample["date"] = earning_sample["Earnings Date"].apply(
    lambda x: datetime.strptime(
        x.replace("EST", "").replace("EDT", "").strip(), '%b %d, %Y, %I %p'
    ).strftime('%Y-%m-%d'+"T"+'%H:%M')
)

In [149]:
# axis=1 : 행 / axis=0 열
# 기본동작은 열 단위로 처리 
earning_sample["date"] = earning_sample.apply(lambda row : row["date"].split("T")[0], axis=1)

In [150]:
earning_sample.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),date
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91,2024-10-29
1,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47,2024-07-23
2,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77,2024-04-25
3,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98,2024-01-30
4,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84,2023-10-24

In [151]:
#해당하는 포맷을 넣고 datetime으로 변환
earning_sample["date"] = pd.to_datetime(earning_sample["date"], format="%Y-%m-%d")

In [152]:
earning_sample.dtypes

Symbol                   object
Company                  object
Earnings Date            object
EPS Estimate            float64
Reported EPS            float64
Surprise(%)             float64
date             datetime64[ns]
dtype: object

- datetime.strptime(date_str, format): 문자열 -> datetime 타입으로 변환
- df(datetime).strftime(format): date타입을 원하는 형식의 문자열로 변환

- pd.to_datetime(df["date"]) : 문자열 -> 데이터 타입으로 변환
- df["date"].dt.strftime("%d/%m/%Y %I:%M %p") : 다른 포맷으로 변환

In [153]:
#map은 series 데이터 타입의 모든 값들에 대해 똑같은 연산을 가함
earning_sample["formatted_date"].map(lambda date : date.split("T")[0])

KeyError: 'formatted_date'

In [ ]:
#applymap은 데이터 프레임에 대해 동작 

pd.DataFrame({"a" : [1,2], "b" : [3,4]}).applymap(lambda x: x+1)

C:\Users\riskzero\AppData\Local\Temp\ipykernel_15056\1343106522.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pd.DataFrame({"a" : [1,2], "b" : [3,4]}).applymap(lambda x: x+1)

   a  b
0  2  4
1  3  5

In [ ]:
#apply는 serise/데이터프레임에 둘다 사용 가능
earning_sample["formatted_date"].apply(lambda x: x.split("T")[0])

0     2024-10-29
1     2024-07-23
2     2024-04-25
3     2024-01-30
4     2023-10-24
         ...
76    2005-10-20
77    2005-07-21
78    2005-04-21
79    2005-02-01
80    2004-10-21
Name: formatted_date, Length: 81, dtype: object

In [ ]:
price = pd.read_csv("./data/google_price.csv")
price.head()

,Unnamed: 0,open,high,low,close,adjclose,volume,ticker
0,2004-08-19,2.502503,2.604104,2.401401,2.511011,2.504808,893181924,GOOGL
1,2004-08-20,2.527778,2.729730,2.515015,2.710460,2.703765,456686856,GOOGL
2,2004-08-23,2.771522,2.839840,2.728979,2.737738,2.730976,365122512,GOOGL
3,2004-08-24,2.783784,2.792793,2.591842,2.624374,2.617892,304946748,GOOGL
4,2004-08-25,2.626627,2.702703,2.599600,2.652653,2.646101,183772044,GOOGL

In [ ]:
#price = price.drop(["Unnamed: 0"], axis=1)

#열 내용 수정 
price = price.rename(columns={"Unnamed: 0" : ""})
price.head()

,,open,high,low,close,adjclose,volume,ticker
0,2004-08-19,2.502503,2.604104,2.401401,2.511011,2.504808,893181924,GOOGL
1,2004-08-20,2.527778,2.729730,2.515015,2.710460,2.703765,456686856,GOOGL
2,2004-08-23,2.771522,2.839840,2.728979,2.737738,2.730976,365122512,GOOGL
3,2004-08-24,2.783784,2.792793,2.591842,2.624374,2.617892,304946748,GOOGL
4,2004-08-25,2.626627,2.702703,2.599600,2.652653,2.646101,183772044,GOOGL

In [ ]:
price = price.set_index("")

In [163]:
#ascending=False : 감소하는 순서로 정렬 (최신 날짜부터 과거 날짜 순서로 정렬)
price_sort_index = price.sort_index(ascending=False)
price_sort_index.head()

,open,high,low,close,adjclose,volume,ticker,month
,,,,,,,,
2024-11-21,173.899994,174.130005,163.699997,167.630005,167.630005,59641100,GOOGL,2024-11
2024-11-20,177.339996,177.679993,173.779999,175.979996,175.979996,18997100,GOOGL,2024-11
2024-11-19,173.720001,178.869995,173.559998,178.119995,178.119995,23434900,GOOGL,2024-11
2024-11-18,173.419998,175.440002,172.899994,175.300003,175.300003,20206600,GOOGL,2024-11
2024-11-15,173.729996,174.139999,171.220001,172.490005,172.490005,32504600,GOOGL,2024-11

In [ ]:
price_sort_value = price.sort_values(by="close", ascending=False)
price_sort_value.head()

,open,high,low,close,adjclose,volume,ticker
,,,,,,,
2024-07-10,189.149994,191.750000,189.029999,191.179993,190.926636,15952500,GOOGL
2024-07-05,185.860001,190.860001,185.800003,190.600006,190.347427,20967500,GOOGL
2024-07-08,189.899994,190.169998,187.779999,189.029999,188.779495,21035900,GOOGL
2024-07-09,190.309998,191.360001,188.720001,188.979996,188.729568,15121400,GOOGL
2024-07-15,184.919998,188.240005,184.919998,186.529999,186.282806,16474000,GOOGL

In [154]:
# 인덱스를 datetime으로 변환
price.index = pd.to_datetime(price.index)

price["month"] = price.index.map(lambda x: x.strftime("%Y") +"-"+ x.strftime("%m"))
price.head()

,open,high,low,close,adjclose,volume,ticker,month
,,,,,,,,
2004-08-19,2.502503,2.604104,2.401401,2.511011,2.504808,893181924,GOOGL,2004-08
2004-08-20,2.527778,2.729730,2.515015,2.710460,2.703765,456686856,GOOGL,2004-08
2004-08-23,2.771522,2.839840,2.728979,2.737738,2.730976,365122512,GOOGL,2004-08
2004-08-24,2.783784,2.792793,2.591842,2.624374,2.617892,304946748,GOOGL,2004-08
2004-08-25,2.626627,2.702703,2.599600,2.652653,2.646101,183772044,GOOGL,2004-08

In [120]:
price.index

Index(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24', '2004-08-25',
       '2004-08-26', '2004-08-27', '2004-08-30', '2004-08-31', '2004-09-01',
       ...
       '2024-11-08', '2024-11-11', '2024-11-12', '2024-11-13', '2024-11-14',
       '2024-11-15', '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21'],
      dtype='object', name='', length=5101)

In [ ]:
#월별로 묶어서 월별 평균을 내자 
# agg : 그룹에 대해 적용할 함수 지정

price_mean = (price.groupby(by="month")[["open","close"]] #close열과 open열을 달 기준으로 묶음
              .agg(open_mean =( "open","mean"), 
                   close_mean = ("close","mean"))
              .reset_index())

price_mean.head()

     month  open_mean  close_mean
0  2004-08   2.637610    2.634190
1  2004-09   2.802231    2.833512
2  2004-10   3.816078    3.834608
3  2004-11   4.458601    4.441823
4  2004-12   4.539460    4.548799

In [158]:
price_mean

In [173]:
price_mean = price.groupby(by="month").agg({"open" : "mean", "close" : "mean"}).reset_index()
price_mean.head()

     month      open     close
0  2004-08  2.637610  2.634190
1  2004-09  2.802231  2.833512
2  2004-10  3.816078  3.834608
3  2004-11  4.458601  4.441823
4  2004-12  4.539460  4.548799

In [ ]:
price_mean.rename({"open" : "open_mean", "close" : "close_mean"}, axis=1, inplace=True)

price_mean.head()

     month  open_mean  close_mean
0  2004-08   2.637610    2.634190
1  2004-09   2.802231    2.833512
2  2004-10   3.816078    3.834608
3  2004-11   4.458601    4.441823
4  2004-12   4.539460    4.548799

In [180]:
#시가 그룹에 대해 최소값을 종가그룹은 최대값을 구하라 

(price.groupby(by="month").agg({"open" : "min", "close" : "max"}).reset_index()).head()

     month      open     close
0  2004-08  2.502503  2.737738
1  2004-09  2.482232  3.280280
2  2004-10  3.273273  4.837337
3  2004-11  4.115866  4.905656
4  2004-12  4.260511  4.944945

In [ ]:
#해당하는 컬럼을 묶어 연산 적용
price.groupby(by="month")[["open","close"]].mean().reset_index().head()

     month      open     close
0  2004-08  2.637610  2.634190
1  2004-09  2.802231  2.833512
2  2004-10  3.816078  3.834608
3  2004-11  4.458601  4.441823
4  2004-12  4.539460  4.548799

In [185]:
price.groupby(by="month")[["open","close"]].max().reset_index().head()

     month      open     close
0  2004-08  2.783784  2.737738
1  2004-09  3.250751  3.280280
2  2004-10  4.977227  4.837337
3  2004-11  4.974474  4.905656
4  2004-12  4.985736  4.944945

In [186]:
price.groupby(by="month")[["open","close"]].max().head()

             open     close
month
2004-08  2.783784  2.737738
2004-09  3.250751  3.280280
2004-10  4.977227  4.837337
2004-11  4.974474  4.905656
2004-12  4.985736  4.944945

In [ ]:
#4개의 포인터를 기준으로 이동하면서 계산
roll = earning_sample["Reported EPS"].rolling(window=4) #4개의 포인트씩 이동하여 계산 (0~3),(1~4)....
earning_sample["Reported EPS_sum"] = roll.sum().shift(-3) #3칸을 당겨서 표기

earning_sample

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),date,Reported EPS_sum
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91,2024-10-29,7.54
1,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47,2024-07-23,6.97
2,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77,2024-04-25,6.52
3,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98,2024-01-30,5.80
4,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84,2023-10-24,5.21
...,...,...,...,...,...,...,...,...
76,GOOGL,Alphabet Inc.,"Oct 20, 2005, 12 AMEDT",0.03,0.04,11.09,2005-10-20,0.12
77,GOOGL,Alphabet Inc.,"Jul 21, 2005, 12 AMEDT",0.03,0.03,12.25,2005-07-21,0.10
78,GOOGL,Alphabet Inc.,"Apr 21, 2005, 12 AMEDT",0.02,0.03,40.77,2005-04-21,NaN
79,GOOGL,Alphabet Inc.,"Feb 01, 2005, 12 AMEST",0.02,0.02,19.48,2005-02-01,NaN
80,GOOGL,Alphabet Inc.,"Oct 21, 2004, 12 AMEDT",0.01,0.02,24.38,2004-10-21,NaN

In [191]:
roll.sum().head()

0     NaN
1     NaN
2     NaN
3    7.54
4    6.97
Name: Reported EPS, dtype: float64

In [ ]:
#두번째 값에서 첫번째 값 빼기
earning_sample["Reported EPS_diff"] = (earning_sample["EPS Estimate"].rolling(window=2).apply(np.diff).shift(-1)*(-1))
earning_sample.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%),date,Reported EPS_sum,Reported EPS_diff
0,GOOGL,Alphabet Inc.,"Oct 29, 2024, 4 PMEDT",1.85,2.12,14.91,2024-10-29,7.54,0.01
1,GOOGL,Alphabet Inc.,"Jul 23, 2024, 4 PMEDT",1.84,1.89,2.47,2024-07-23,6.97,0.33
2,GOOGL,Alphabet Inc.,"Apr 25, 2024, 4 PMEDT",1.51,1.89,24.77,2024-04-25,6.52,-0.08
3,GOOGL,Alphabet Inc.,"Jan 30, 2024, 4 PMEST",1.59,1.64,2.98,2024-01-30,5.80,0.14
4,GOOGL,Alphabet Inc.,"Oct 24, 2023, 4 PMEDT",1.45,1.55,6.84,2023-10-24,5.21,0.11

0    -0.01
1    -0.33
2     0.08
3    -0.14
4    -0.11
      ...
76    0.00
77   -0.01
78    0.00
79   -0.01
80     NaN
Name: EPS Estimate, Length: 81, dtype: float64